<div class="container-fluid bkgrd">
  <div class='page-container'>
	  <div class='text-container'>
			<h3 style="color:#0000b3;text-align:center">About Me (and other things)</h3>
			<%= image_tag('SamSkinner.jpg', height:'250', width:'310', :class=>"img-rounded img-border", title:"Yours Truly")%>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>

		</div>
	</div>
</div>



