<h3 style="color:#0000b3;text-align:center">About Me (and other things)</h3>

<p style="color:#0000b3; font-family:fantasy; font-size:15px">Sir ron says: "laziness, impatience, hubris are the three things needed to be a good programmer".</p>

<p style="color:green; font-family:sans-serif; font-size:15px">Who is Sir Ron?</p>

<p>Name: Saron Yitbarek, Gender: Female, Coder in NYC
	runs "Code Club" on Wednesday nights</p>

<p>Math games: Rush Hour, Set, DragonBox -check them out!</p>

<ul>
  <li><h3>To Do List:</h3></li>
  <li style='color:#0000b3'>Need to invoke css stylesheets.  Syntax for class & id.</li>
  <li>How do I line up Index page links 3 in a row??</li>
</ul>

Blog Posts
Double vision (big picture, down in the weeds.... no dirt)
  need to get code under our fingernails
Walk the Moon
Just my imagination
Coding is fun when your not tearing your hair out in frustration
Library
Breaking & Entering
Freedom Evolves

medium.com  blog engine

<p style="color:#F4F4ED; font-family:fantasy; font-size:100px; text-align:center"><i>-It's Just My Imagination...-</i></p>

<audio src="/assets/crows.wav" autoplay loop>It's just my imagination.....running away with me</audio>