<h1>Scientific Publications</h1>

<p>King, B. H., Crowe, M. L. and S. W. Skinner.  1995.  Effect of host density on offspring sex ratios and behavioral interactions between females in the parasitoid wasp, <i>Nasonia vitripennis</i>.  J. Insect Behavior 8: 89-102.</p>

<p>Skinner, S. W. 1993.  Experimental evolution of a 1:1 sex ratio under random mating.  Submitted to  Nature, available on request.</p>

<p>King, B. and S. W. Skinner.  1991.  Sex ratio in a new species of <i>Nasonia</i> with fully- winged males.  Evolution 45: 225-228.</p>

<p>King, B. and S. W. Skinner.  1991.  Proximal mechanisms of the sex ratio and clutch size responses of the wasp <i>Nasonia vitripennis</i> to parasitized hosts.  Animal Behav. 42: 23-33.</p>

<p>O'Neill, K. M. and S. W. Skinner.  1990.  Body size and ovarian egg number in parasitoid wasps: Implications for variation in female reproductive success.  J. Zool. 220: 115-122.</p>   

<p>Charnov, E. L. and S. W. Skinner.  1988. Clutch size in parasitoids: the egg production rate as a constraint.  Evol. Ecol. 2: 167-174.</p>

<p>Skinner, S. W. 1987.  Paternal transmission of an extrachromosomal factor in a parasitoid wasp: evolutionary implications.  Heredity 59: 47-53.</p>

<p>Werren, J. H., Skinner, S. W. and A. M. Huger.  1986.  Male-killing bacteria in a parasitoid wasp.  Science 231: 990-992.</p>

<p>Skinner, S. W.  1985.  son-killer: A third extrachromosomal factor affecting the sex ratio in the parasitoid wasp, <i>Nasonia (=Mormoniella) vitripennis</i>.  Genetics 109: 745-759.</p> 

<p>Skinner, S. W.  1985.  Clutch size as an optimal foraging problem for insects.  Behav. Ecol. Sociobiol. 17: 231-238.</p>

<p>Charnov, E. L. and S. W. Skinner.  1985.  Complementary approaches to understanding parasitoid oviposition decisions.  Environ. Entomol. 14: 383-391.</p>

<p>Huger, A. M., Skinner, S. W. and J. H. Werren.  1985. Bacterial infections associated with the son-killer trait in the parasitoid wasp, <i>Nasonia vitripennis</i>. J. Invert. Path. 46: 272-282.</p>

<p>Charnov, E. L. and S. W. Skinner.  1984.  Evolution of host selection and clutch size in parasitoid wasps.  Fla. Entomol. 67: 5-21.</p>

<p>Skinner, S. W.  1982.  Maternally inherited sex ratio in the parasitoid wasp, <i>Nasonia vitripennis</i>.  Science 215: 1133-1134.</p>

<p>Werren, J. H., Skinner, S. W. and E. L. Charnov.  1981.  Paternal inheritance of a daughterless sex ratio factor.   Nature 293: 467-468.</p> 

<p>Skinner, S. W. and J. S. Lockard.  1979.  An ethogram of the lion-tail macaque (<i>Macaca silenus</i>) in captivity.  Appl. Animal Ethol. 4: 241-53.</p>

