<head>
  <link rel=”stylesheet” type=”text/css” href=“application.css”/>
</head>

<body>
  <div class="container-fluid">
    <h2>Sam Skinner, PhD</h2>
    <div>Roswell, GA <a href="https://github.com/freedomevolves" style="padding: 180px">Github</a><br>
    Cell: 678-585-7757 <a href="https://www.linkedin.com/pub/sam-skinner-phd/60/822/723" style="padding: 135px">LinkedIn</a><br>
    Email: samskinnerphd@gmail.com <a href="http://www.twitter.com/freedomevolves" style="padding: 40px">Twitter</a></div>
    
    <br>
    
    <h4><u>EDUCATION</u></h4>
    <div>Rails Web Development, Tech Talent South.  2014.<br>
    Ph. D., University of Utah.  1983. <br>
    B. A., University of Washington.  1978. </div>
    <br>
    <h4><u>UNIVERSITY POSITIONS</u></h4>
    <div>Visiting Professor, Department of Biology, Emory University, Atlanta, GA.  1993-95.<br>
    Assistant Professor, Dept. of Biology, Indiana University, Bloomington, IN.  1985-93.<br>
    Fellow, Institute for Molecular & Cellular Biology, Indiana University, IN.  1988-93.<br>
    NSF Postdoctoral Fellow, Dept. of Biology, University of Chicago, Chicago, IL.  1985-86.<br>
    NIH Postdoctoral Fellow, Dept. of Genetics, Univ. of Wisconsin, Madison, WI.  1983-85.<br>
    Teaching Fellow, Dept. of Biology, University of Utah, Salt Lake City, UT.  1978-83.</div>
    <br>
    <h4><u>FORMER RESEARCH</u></h4>
    <ul>
       <li>Experimental evolution of sex ratio behavior (evolution of Fisherian sex ratios in experimental populations of a parasitoid wasp, <i>Nasonia vitripennis</i>).</li> 
       <li>Fieldwork on mating behavior and local mate competition in parasitoid wasps.</li>
       <li>Experimental population dynamics of host-parasite interactions (population dynamics of three sex-ratio parasites in a wasp host).</li>
       <li>Molecular biology of male-killing genes in the &#34;son-killer&#34; bacterium,
    	 <i>Arsenophonus nasoniae</i>, a sex-ratio parasite of <i>Nasonia</i> species.</li>	 
    </ul>
    <br>
    <h4><u>MAJOR GRANTS AND FELLOWSHIPS</u></h4>

    <div>NSF Population Biology, 1992-94, <i>Natural Selection for the Sex Ratio.</i>, $161,000.<br>
    NSF Research Training Grant, 1990-95, <i>Center for the Integrative Study of Animal Behavior</i>, $1,500,000,  Supporting PI for Co-Principals: Ellen Ketterson & William Timberlake.<br>
    NSF Biological Bases of Behavior, 1989-91, <i>Sex Ratio Behavior & Ecology of the wasp, Nasonia vitripennis.</i>, $90,000.<br>
    NSF Postdoctoral Fellowship in Environmental Biology, 1985-86, Department of Biology, University of Chicago, Chicago, IL (with M. J. Wade).<br>
    NIH Postdoctoral Fellowship, 1983-85, Department of Genetics, University of Wisconsin, Madison, WI (with J. F. Crow).<br>
    NSF Population Biology, 1982-85, <i>Oviposition Behavior and Sex Ratio in the Parasitoid Wasp, Nasonia vitripennis.</i>, $72,000.</div>
    <br>
    <h4><u>INVITED SEMINARS</u></h4>

    <div>Miami University, Dept. of Zoology, Oxford, OH, 1994.<br>
    Savannah River Ecology Laboratory, Aiken, SC, 1994.<br>
    Eastern Illinois University, Dept. of Biology, Charleston, IL, 1994.<br>
    Emory University, Dept. of Biology, Atlanta, GA, 1993, 1994.<br>
    Entomological Society of America, Annual National Meeting, Symposium on “Sex Determination in Insects”, Baltimore, MD, 1992.<br>
    DePauw University, Dept. of Biology, Greencastle, IN, 1991.<br>
    Indiana State University, Dept. of Zoology, Terre Haute, IN, 1991.<br>
    Co-organizer (w/ K. Clay), Symposium on “Host-Parasite Interactions and the Evolution of Reproductive Characteristics", International Congress of Systematics and Evolutionary Biology, College Park, MD, 1990.<br>
    Panelist, Round Table Discussion on “Coevolution: Host/Parasitoid”, International Congress of Systematics & Evolutionary Biology, College Park, MD, 1990.<br>
    Michigan State University, Depts. of Entomology & Zoology, East Lansing, MI, 1990.<br>
    Special Invitee, European Society for Evolutionary Biology, Annual Meeting, Symposium on <i>Norms of Reaction & the Evolution of Life History Traits</i>, Rome, Italy, Sept 1989.<br>
    Ohio State University, Dept. of Entomology, Columbus, OH, 1989.<br>
    University of Illinois, Dept. of Entomology, Urbana, IL, 1988.<br>
    Entomological Society of America, Annual National Meeting, Symposium on <i>Evolution and Diversity of Sex Ratio in Arrhenotokous Insects and Mites</i>, Louisville, KY.  1988.<br>
    Keynote Speaker, Universite de Pau et des Pays de l'Adour, Pau, France, Annual Meeting of the French Entomological Society, 1987.<br>
    North Carolina State University, Dept. of Genetics, Raleigh, NC, 1987.<br>
    Midwest Population Biology Conference, Indiana University, Bloomington, IN, 1986.<br>
    Kellogg Biological Research Station, Michigan State University, Hickory Corners, MI, 1986.<br>
    Northern Illinois University, Dept. of Biology, DeKalb, IL, 1986.<br>
    University of Tennessee, Dept. of Microbiology & Immunology, Memphis, TN, 1986.<br>
    University of California-Irvine, Depts. of Ecology & Evolutionary Biology, Irvine, CA, 1986.<br>
    William and Mary College, Dept. of Biology, Williamsburg, VA, 1985.<br>
    University of Chicago, Dept. of Biology, Chicago, IL, 1985.<br>
    University of California, Santa Barbara, Dept. of Biological Sciences, Santa Barbara, CA, 1985.<br>
    Indiana University, Dept. of Biology, Bloomington, IN, 1985.<br>
    University of Iowa, Dept. of Zoology, Iowa City, IA, 1985.<br>
    Northwestern University, Dept. of Ecology & Evolutionary Biology, Evanston, IL, 1985.<br>
    University of Minnesota, Dept. of Biology, St. Paul, MN, 1984.<br>
    University of Wisconsin, Dept. of Entomology, Madison, WI, 1984.<br>
    University of Wisconsin, Dept. of Genetics, Madison, WI, 1984.<br>
    University of Florida, Dept. of Zoology, Gainesville, FL, 1982.<br>
    University of Wisconsin, Dept. of Genetics, Madison, WI, 1982.</div>
    <br>
    <h4><u>ORAL PRESENTATIONS ("contributed papers")</u></h4>

    <div>European Society for Evolutionary Biology, Montpellier, France, 1993.<br>
    Society for the Study of Evolution, 1980, 1981, 1982, 1984, 1985, 1986, 1989, 1991, 1993.<br>
    Animal Behavior Society, Cincinnati OH, 1989, 1991, 1993.<br>
    Conference on Extrachromosomal Elements in Lower Eukaryotes, U. Illinois, Urbana, IL, 1986.<br>
    Genetics Society of America, 1980, 1985.<br>
    Guild of Rocky Mountain Population Biologists, Boulder CO, 1982.</div>
    <br>
    <h4><u>TEACHING GRANTS AND FELLOWSHIPS</u></h4>

    <div>Indiana University Campuswide Writing Program, Writing-in-the-Classroom Fellowship, 1992.<br>
    Indiana University Multi-disciplinary Ventures Program, 1990-91, <i>Seminar on the Evolution of Learning.</i> (with W. Timberlake).<br>
    Indiana University Summer Faculty Fellowship, 1988.</div>
  </div>
</body>
<br>
<br>

